.navigation {
    display: flex;
    margin: 30px;

    a {
        position: relative;
        margin: 10px;
        padding: 10px;
    }

    .nav-active {
        &::after {
            position: absolute;
            content : '';
            width: 100%;
            left: 0;
            bottom: 1px;
            height: 3px;
            background-color: $color-1;
        }
    }
}